* {
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
}

.text {
    flex: 1;
    justify-content: start;
    align-items: center;
    text-wrap: nowrap;
    font-size: 16px;
    padding-top: 50px;
}

.table {
width: 350px;
padding: 5%;
background-color:rgb(255, 255, 255);
border-collapse: separate;
}

caption {
font-size: 40px;
font-style: italic;
color: rgb(36, 77, 124);
padding-bottom: 15px;
}
  
.map {
    flex: 5; 
    padding: 10px;
}